certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
idna==2.10
joblib==0.16.0
kiwisolver==1.2.0
matplotlib==3.3.1
multitasking==0.0.9
numpy==1.19.1
pandas==1.1.1
Pillow==7.2.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
scikit-learn==0.23.2
scipy==1.5.2
six==1.15.0
threadpoolctl==2.1.0
tqdm==4.48.2
urllib3==1.25.10
yfinance==0.1.54